/* This file is for your main application css. */
.gridButton
{
   display: block;
   width: 100%;       /* set to 100% */
   height: 100%;      /* set to 100% */
}

.cell {
  height: 100%;
  padding: 0;
}

.ship {
  background-color:black;
}

.hit {
  background-color:red;
}

.miss {
  background-color:greenyellow;
}

.water {
  background-color:blue;
}

.challenge {
  margin-left: 10px;
}
